.main__container {
  margin: 0;
  padding: 0;
  text-align: center;
}
img {
  width: 100%;
  height: 95%;
  object-fit: contain;
}
.product__container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.single__product {
  height: 150px;
  list-style: none;
  padding: 20px;
  background-color: rgb(220, 220, 220);
  text-align: center;
  border-radius: 5px;
  cursor: pointer; /* Imp on clickables */
}
.pagination {
  margin: 15px auto;
  display: flex;
  justify-content: center;
}
.pagination > span {
  padding: 10px;
  border: 1px solid #bbb;
  margin: 0 5px;
  cursor: pointer;
}
.pagination__disable {
  opacity: 0;
}
.pagination__selected {
  background-color: chartreuse;
}
